<html ng-app="tasktodo">

  <head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="todo.css"/>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <title>Task List</title>

  </head>

   
  <div class="widget-box" id="recent-box" ng-controller="taskctrl">
  
    <div class="widget-header header-color-blue">
  
      <!-- HEADER -->
  
      <div class="row">
  
        <!-- Header Title -->
  
        <div class="col-sm-6">
  
          <h4 class="bigger lighter">
  
            <i class="glyphicon glyphicon-align-justify"></i>&nbsp;
  
            TASK MANAGER
  
          </h4>
  
        </div>
  
        
  
        <!-- New Task Button 
  
        When clicked it toggles value of addNewClicked, then we use that status to
  
        show/hide the add new task input-box below
  
        -->
  
        <div class="col-sm-3">
  
          <button ng-click="addNewClicked=!addNewClicked;" class="btn btn-sm btn-danger header-elements-margin"><i class="glyphicon  glyphicon-plus"></i>&nbsp;Add New Task</button>
  
        </div>
  
    
  
        <!-- Filter Task
  
        Check below, where it displays the task list using ng-repeat it sets this
  
        filter, so it dinamically filter task list 
  
        -->
  
        <div class="col-sm-3">
  
          <input type="text" ng-model="filterTask" class="form-control search header-elements-margin" placeholder="Filter Tasks">
  
        </div>
  
      </div>
  
    </div>
  
    
  
    <!-- TASK LIST -->
  
    <div class="widget-body ">
  
      <!-- Add New Task
  
      Check that the form to add a new task is hidden at its visibility depends
  
      on addNewClicked wich is toggled above.
  
      -->
  
      <form ng-init="addNewClicked=false; " ng-if="addNewClicked" id="newTaskForm" class="add-task">
  
        <div class="form-actions">
  
          <div class="input-group">
  
            <input type="text" class="form-control" name="comment" ng-model="taskInput" placeholder="Add New Task" ng-focus="addNewClicked">
  
            
  
            <div class="input-group-btn">
  
              <button class="btn btn-default" type="submit" ng-click="addItem(taskInput)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Task</button>
  
            </div>
  
          </div>
  
        </div>
  
      </form>
  
    
  
      <!-- Task List
  
      Here we use ng-repeat to display the task list, with the filter set above.
  
      -->
  
      <div class="task">
  
        <label class="checkbox" ng-repeat="task in tasks | filter : filterTask">
  
          <input 
  
          type="checkbox"
  
          value="{{task.STATUS}}"
  
          ng-checked="task.STATUS==2"
  
          ng-click="toggleStatus(task.ID,task.STATUS, task.TASK)"/> 
  
          <span ng-class="{strike:task.STATUS==2}">{{task.TASK}} [{{task.ID}}]</span>
  
          <a ng-click="deleteTask(task.ID)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
  
          </label>
  
      </div>
  
    </div>
  
  </div>



   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

   <script type="text/javascript" src="taskapp.js"></script>
   <script type="text/javascript" src="taskctrl.js"></script>

 </body>

</html>